.bar {
  flex: 1;
  gap: 0.5rem;
  .bar__day {
    font-size: 0.8rem;
    color: $MediumBrown;
  }
  .bar__amount {
    background: $SoftRed;
    width: 100%;
    border-radius: 2.5px;
    transition: 0.5s opacity ease;
    &.active {
      background-color: $Cyan;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  .bar__price-overlay {
    opacity: 0;
    background-color: $DarkBrown;
    font-size: 0.7rem;
    color: $VeryPaleOrange;
    padding: 0 0.3rem;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    &.bar__price-overlay--active {
      opacity: 1;
    }
  }
}
